<div class="row">
  <div class="small-3 columns">
    <%= render "categories_side_nav", {categories: @categories} %>
  </div>
  <div class="small-9 columns">
    <%= render "products_grid", {products: @products} %>
  </div>
</div>